---
Checks: "
        *,
        -altera-struct-pack-align,
        -altera-unroll-loops,
        -llvmlibc-restrict-system-libc-headers,
        "
WarningsAsErrors: "*"
CheckOptions:
  - key: bugprone-reserved-identifier.AllowedIdentifiers
    value: '_POSIX_C_SOURCE;_'
  - key: cert-dcl37-c.AllowedIdentifiers
    value: '_POSIX_C_SOURCE;_'
  - key: cert-dcl51-cpp.AllowedIdentifiers
    value: '_POSIX_C_SOURCE;_'
  - key: llvm-header-guard.HeaderFileExtensions
    value: 'h'
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
