#!/bin/sh

export CC=gcc
export CFLAGS='
	-std=c17
	-Wall
	-Wextra
	-Wpedantic
	-Wfatal-errors
	-Wvla
	-Wshadow
	-Wfloat-equal
	-Wundef
	-Wdouble-promotion
	-Wconversion
	-fno-common
	-Werror
'
CFLAGS="$(echo "$CFLAGS" | grep . | tr -s '\t' | tr '\n' ' ')"
